.sidebar {
    padding: 20px;
}

.highlight {
    color: #333;
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
}
@media (max-width: 992px) {  
    .col-md-9 {
        width: 100%;
    }

    .col-md-3 {
        width: 100%;
    }
}